body
{ 
font-family:"montserrat";
    } 


#title

{
text-align: center;
color:#fff;
background-image: url(../Images/soccer1.jpg);
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
padding-bottom: 10%; 

} 

.page-logo

 {
position: absolute;
top: 0px;
left: 0px;
height: 125px;
} 

h1
{
  font-family: "montserrat-black";
    font-size: 4rem;
    line-height: 1.5;
    text-align: center;
}
h2 {
    font-family: "montserrat-bold";
    font-size: 3.6rem;
    line-height: 1.5;
}

h3
{
    font-family: "montserrat-bold";   
    
}
.para-graph
{
color: whitesmoke;
    
}

p {
    color: #8f8f8f;
}
.navbar
{padding: 0 0 4.5rem ;
}
/* navigation bar */
.navbar-brand 
{
font-family:"ubuntu";
font-size: 2rem;
font-weight: bold;

}
.nav-item
{
    padding: 0 20px ;
    color: black;
}
.nav-link {
    font-size: 1.4rem;
    font-family: "montserrat-light";
    
    
}
.download-button

{
 margin: 5% 3% 5% 0;   
}
/* title-image */


/* features sections */
#features
{

    padding: 7% 15%;

    position: relative;
    z-index: 1;
padding-bottom: 0%;
    padding: auto;
    

    
}
.feature-box

{
    text-align: center;
    padding: 4.5%;
}
.icon{
    color: #11999E;
    margin: 1rem;
}
.icon:hover {
    color: #11999E;
}

/* testimonials */
#testimonials {
    padding: 7% 0%;
    text-align: center;
    background-color: #11999E;
    
    
}
.testimonial-text{
    font-size: 2.5rem;
    line-height: 1.5;
}


.testimonial-image 
{
    width: 10%;
    border-radius: 100%;
    margin: 20px; 
    
}




.carousel-item 
{
    padding: 7% 15%;
    

    
}


#press {
background-color: white;
text-align: center;
padding-top: 2%; 

}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px ;
}


@media (max-width:1028px)
{

#title {
    text-align: center;
}
    .title-image{
       position: static; 
       transform: rotate(0);
    }
}



/* CTA section  */
#cta {
background-color:#11999E ;
color: #fff;
padding: 7% 15%;
text-align: center;

}

.cta-heading 
{
    font-family: "montserrat-black";
    font-size: 4.1rem;
    line-height: 1.5;
    

}

/* Footer  */
#footer
{
    padding: 3% 5%;
    text-align: center;
    
    
    
}


.social-icon {
    margin: 20px 10px ;
    color: #11999E;
    
}